@model MarginCallViewModel

<div class="modal-header">
    <h5 class="modal-title">Details Margin Call</h5>
    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
        <span>&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="form-group">
        <label asp-for="PortfolioID" class="control-label"></label>
        <div class="col-md-10">
            <input asp-for="PortfolioID" class="form-control" disabled />
        </div>
    </div>
    <div class="form-group mt-3">
        <label asp-for="Percentages" class="control-label"></label>
        <div class="col-md-10">
            <input asp-for="Percentages" class="form-control" disabled />
        </div>
    </div>
    <div class="form-group mt-3">
        <label asp-for="Collateral" class="control-label"></label>
        <div class="col-md-10">
            <input asp-for="Collateral" class="form-control" disabled />
        </div>
    </div>
    <div class="form-group mt-3">
        <label asp-for="Collateral_Ccy" class="control-label"></label>
        <div class="col-md-10">
            <input type="text" asp-for="Collateral_Ccy" class="form-control" disabled />
        </div>
    </div>
    <div class="form-group mt-3">
        <label asp-for="VM" class="control-label"></label>
        <div class="col-md-10">
            <input asp-for="VM" class="form-control" disabled />
        </div>
    </div>
    <div class="form-group mt-3">
        <label asp-for="VM_Ccy" class="control-label"></label>
        <div class="col-md-10">
            <input asp-for="VM_Ccy" class="form-control" disabled />
        </div>
    </div>
    <div class="form-group mt-3">
        <label asp-for="IM" class="control-label"></label>
        <div class="col-md-10">
            <input asp-for="IM" class="form-control" disabled />
        </div>
    </div>
    <div class="form-group mt-3">
        <label asp-for="IM_Ccy" class="control-label"></label>
        <div class="col-md-10">
            <input asp-for="IM_Ccy" class="form-control" disabled />
        </div>
    </div>
    <div class="form-group mt-3">
        <label asp-for="MarginCallFlag" class="control-label"></label>
        <div class="col-md-10">
            <input asp-for="MarginCallFlag" class="form-control" disabled />
        </div>
    </div>
    <div class="form-group mt-3">
        <label asp-for="EODTriggerFlag" class="control-label"></label>
        <div class="col-md-10">
            <input asp-for="EODTriggerFlag" class="form-control" disabled />
        </div>
    </div>
    <div class="form-group mt-3">
        <label asp-for="MTMTriggerFlag" class="control-label"></label>
        <div class="col-md-10">
            <input asp-for="MTMTriggerFlag" class="form-control" disabled />
        </div>
    </div>
    <div class="form-group mt-3">
        <label asp-for="Type" class="control-label"></label>
        <div class="col-md-10">
            <input asp-for="Type" class="form-control" disabled />
        </div>
    </div>
    <div class="form-group mt-3">
        <label asp-for="Remarks" class="control-label"></label>
        <div class="col-md-10">
            <input asp-for="Remarks" class="form-control" disabled />
        </div>
    </div>
    <div class="form-group mt-3">
        <label asp-for="InsertedDatetime" class="control-label"></label>
        <div class="col-md-10">
            <input asp-for="InsertedDatetime" class="form-control" disabled />
        </div>
    </div>
    <div class="form-group mt-3">
        <label asp-for="ModifiedDatetime" class="control-label"></label>
        <div class="col-md-10">
            <input asp-for="ModifiedDatetime" class="form-control" disabled />
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-info" data-bs-dismiss="modal">Close</button>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
